<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="stylesheets/normalize.css")
    link(rel="stylesheet", href="stylesheets/screen.css")
    link(rel="stylesheet", href="stylesheets/media.css")
body
    header.header
        .container
        
            .header-top-line.clearfix
                .header-logo
                    a(href="")
                        img.logo(src="img/logo.png", alt="logo")  
                    .logo-text Callmedia
                    
                .header-inputs.clearfix
                    form(action="i.php")
                        label(for="login")
                            input.input-a(type="text" placeholder="Username") 
                            
                        label(for="password")
                            input.input-b(type="password" placeholder="Password")
                               
                        input.button(type="submit"
                              name="agreement"
                              value="Login now!"
                             )   
       
                                
        .header-menu
            .container
                .nav
                    ul
                        li
                            a(href="#") Home
                        li
                            a(href="#") About our company
                        li
                            a(href="#") Introduction guide
                        li
                            a(href="#") Contact 
    section.main.clearfix
        .container
            .main-content
                .content
                    .content-title Upgrade your call credits via <br>
                        span.spec-word Callmedia!
                    .content-text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut tortor libero. Nulla congue convallis dictum. Donec suscipit faucibus urna ut molestie. 

                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultricies est eget arcu consequat elementum. 
                .content-img
                    .img-area
                        img(src="img/content-img.png", alt="img")
    section.blocks
        .container
            .block-container.clearfix
                .left-block
                    .block-title The benefits
                    .block-content-left
                        ul
                            li Fast service
                            li Great helpdesk
                            li Pay safe
                            li Many telephone providers
                            li Also available in weekends
                    .button-block     
                        a(href="").button-left Show all benefits!    
                
                .middle-block
                    .block-title The benefits
                    .block-content-middle
                        ul
                            li 
                                p Student package
                                span.sub $3,00 per month
                            li 
                                p Simple package
                                span.sub $2,50 per month
                            li 
                                p Business package
                                span.sub $2,50 per month
                    .button-block     
                        a(href="").button-left Show all benefits!    
                .right-block
                    .block-title Sign up for our service
                    .block-content-right
                        p.sub-title.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Aenean ante sapien, vehicula ut sagittis sed, placerat quis lectus. 
                        .form-area 
                            form(action="d.php").clearfix   
                                table
                                    tr.gg
                                        td
                                            label.label(for="username").clearfix  Username
                                                input.input-a-a(type="text" placeholder="Username") 
                                    tr.gg
                                        td
                                            label.label(for="password").clearfix Password
                                                input.input-a-a(type="text" placeholder="Password") 
                       
                                    tr
                                        td       
                                            input.button(type="submit"
                                                        name="agreement"
                                                        value="Login now!"
                                                        )    
                                    
                            