<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="stylesheets/normalize.css")
    link(rel="stylesheet", href="stylesheets/screen.css")
body
    .wrapper
        header.header
            .top-line.clearfix
                .container
                    .logo
                        a(href="#home")
                            img(src="img/logo.png", alt="Logo")
                    ul.nav
                        li
                            a(href="#home") Home
                        li
                            a(href="#services") Service
                        li
                            a(href="#portfolio") Portfolio
                        li
                            a(href="#about") About
                        li
                            a(href="#team") Our Team
                        li
                            a(href="#contacts") contacts
                
            .info.right
                .container
                    span 
                        a(href="#") 
                            | ajhgjkagfgd 1 <br>
                
                    span 
                        a(href="#") 
                            | ajhgjkagfgd 1 <br>
                
                    span 
                        a(href="#") 
                            | ajhgjkagfgd 1 <br>
              
              
            .home
                .container
                    h3 Welcome To Our Studio!
                    h1 It’s nice to Meet you
                    a.button(href="#") Tell Me More
            
        section.services#services
            .container
                h2.title Services
                p.dscr Proin iaculis purus consequat sem cure. 
                        
                .services-wrap.clearfix
                
                    .services-item.commerce
                        h5.title E-Commerce
                        p. 
                            Proin iaculis purus consequat sem cure 
                            digni ssim. Donec porttitora entum suscipit 
                            
                    .services-item.responsive
                        h5.title Responsive Web
                        p. 
                            Proin iaculis purus consequat sem cure 
                            digni ssim. Donec porttitora entum suscipit 
                            
                    .services-item.security
                        h5.title Web Security
                        p. 
                            Proin iaculis purus consequat sem cure 
                            digni ssim. Donec porttitora entum suscipit 
        
        section.portfolio#portfolio
            .container
                h2.title Portfolio
                p.dscr Proin iaculis purus consequat sem cure. 
                        
                .portfolio-wrap.clearfix
                    .portfolio-item
                        a(href="#") 
                            img(src="img/img-1.png", alt="")
                        .portfolio-item-footer
                            h5.title Ebony & Ivory
                            span Branding
                    .portfolio-item
                        a(href="#") 
                            img(src="img/img-2.png", alt="")
                        .portfolio-item-footer
                            h5.title Ebony & Ivory
                            span Branding
                    .portfolio-item
                        a(href="#") 
                            img(src="img/img-3.png", alt="")
                        .portfolio-item-footer
                            h5.title Ebony & Ivory
                            span Branding
                    .portfolio-item
                        a(href="#") 
                            img(src="img/img-4.png", alt="")
                        .portfolio-item-footer
                            h5.title Ebony & Ivory
                            span Branding
                    .portfolio-item
                        a(href="#") 
                            img(src="img/img-5.png", alt="")
                        .portfolio-item-footer
                            h5.title Ebony & Ivory
                            span Branding
                    .portfolio-item
                        a(href="#") 
                            img(src="img/img-6.png", alt="")
                        .portfolio-item-footer
                            h5.title Ebony & Ivory
                            span Branding
                    
        section.about#about
            .container
                h2.title About
                p.dscr Proin iaculis purus consequat sem cure.         
                .about-wrap
                .about-item
                        .row.clearfix
                            .col.left.text-right
                                .about-text
                                    h5.title.
                                        July 2010 <br> Our Humble Beginnings
                                    p.
                                        Proin iaculis purus consequat sem cure 
                                        digni ssim. Donec porttitora entum suscipit 
                                        aenean rhoncus posuere odio in tincidunt. Proin 
                                        iaculis purus consequat sem cure digni 
                                        ssim. Donec porttitora entum suscipit.
                            .col-2.left
                                .about-img
                                    img(src="img/about-1.png", alt="")
                            
                            .col-3.right
                        
                        
                .about-item
                    .row.clearfix
                        .col.right.text-left
                            .about-text
                                h5.title.
                                    July 2010 <br> Our Humble Beginnings
                                p.
                                    Proin iaculis purus consequat sem cure 
                                    digni ssim. Donec porttitora entum suscipit 
                                    aenean rhoncus posuere odio in tincidunt. Proin 
                                    iaculis purus consequat sem cure digni 
                                    ssim. Donec porttitora entum suscipit.
                        .col-2.right
                            .about-img
                                img(src="img/about-1.png", alt="")
                        
                        .col-3.left
                    
                    
                .about-item
                    .row.clearfix
                        .col.left.text-right
                            .about-text
                                h5.title.
                                    July 2010 <br> Our Humble Beginnings
                                p.
                                    Proin iaculis purus consequat sem cure 
                                    digni ssim. Donec porttitora entum suscipit 
                                    aenean rhoncus posuere odio in tincidunt. Proin 
                                    iaculis purus consequat sem cure digni 
                                    ssim. Donec porttitora entum suscipit.
                        .col-2.left
                            .about-img
                                img(src="img/about-1.png", alt="")
                        
                        .col-3.right
                        
                .about-item
                    .row.clearfix
                        .col.right.text-left
                            .about-text
                                h5.title.
                                    July 2010 <br> Our Humble Beginnings
                                p.
                                    Proin iaculis purus consequat sem cure 
                                    digni ssim. Donec porttitora entum suscipit 
                                    aenean rhoncus posuere odio in tincidunt. Proin 
                                    iaculis purus consequat sem cure digni 
                                    ssim. Donec porttitora entum suscipit.
                        .col-2.right
                            .about-img
                                img(src="img/about-1.png", alt="")
                        
                        .col-3.left
                        
                .about-item
                    .row-none.clearfix
                        .about-img
                            img(src="img/about-5.png", alt="")
         
        section.our-team#team
            .container
                h2.title our amazing team
                p.dscr Proin iaculis purus consequat sem cure. 
                
                .team-wrap.clearfix
                    .team-item.left
                        .team-img
                            img(src="img/black.png", alt="")
                        
                        .team-text
                            h5.title.
                                Kimberly Thompson 
                            p Marketer
                            
                        .team-soc
                            a(href="#")
                                img(src="img/icons/tw-icon.png", alt="")
                            a(href="#")
                                img(src="img/icons/fb-icon.png", alt="")
                            a(href="#")
                                img(src="img/icons/pi-icon.png", alt="")
                
                    .team-item.left
                        .team-img
                            img(src="img/black.png", alt="")
                        
                        .team-text
                            h5.title.
                                Kimberly Thompson 
                            p Marketer
                            
                        .team-soc
                            a(href="#")
                                img(src="img/icons/tw-icon.png", alt="")
                            a(href="#")
                                img(src="img/icons/fb-icon.png", alt="")
                            a(href="#")
                                img(src="img/icons/pi-icon.png", alt="")    
                
                    .team-item.right
                        .team-img
                            img(src="img/black.png", alt="")
                        
                        .team-text
                            h5.title.
                                Kimberly Thompson 
                            p Marketer
                        
                        .team-soc
                            a(href="#")
                                img(src="img/icons/tw-icon.png", alt="")
                            a(href="#")
                                img(src="img/icons/fb-icon.png", alt="")
                            a(href="#")
                                img(src="img/icons/pi-icon.png", alt="")
                    .team-p.dscr.
                        Proin iaculis purus consequat sem cure  
                        digni ssim donec porttitora entum suscipit <br>
                        aenean rhoncus posuere odio in 
                        tincidunt proin iaculis.                                
            
        section.logos
            .container
                .logos-img
                    a(href="#")
                        img(src="img/envato.png", alt="")
                    a(href="#")
                        img(src="img/WordPress.png", alt="")
                    a(href="#")
                        img(src="img/Tuts+.png", alt="")
                    a(href="#")
                        img(src="img/Microlancer.png", alt="")
        
        
        section.contact-us#contacts
            .container
                h2.title Contact us
                p.dscr Proin iaculis purus consequat sem cure. 
                    .contact-us-wrap.clearfix
                        form(action="#" method="post").feedback.clearfix
                            .form-left
                                .feedback-name
                                    input(type="text" placeholder="your name *")
                                .feedback-email
                                    input(type="text" placeholder="your e-mail *")
                                .feedback-subject
                                    input(type="text" placeholder="subject *")
                            .form-right
                                .feedback-message
                                    textarea(type="text" placeholder="your message *")
                            .submit
                                button.submit-form(type="submit", value="Отправить") Send message
                            
        footer.footer
            .container.clearfix
                .footer-wrap.clearfix
                    p.dscr © Copyright 2014 FreebiesXpress.com
                            ul.footer-soc.clearfix
                                li.footer-soc-item
                                    a(href="#").tw
                                li.footer-soc-item
                                    a(href="#").fb
                                li.footer-soc-item
                                    a(href="#").pi
                                li.footer-soc-item
                                    a(href="#").google
        
        
        
        
        
        
        
        
        script(type="text/javascript" src="js/jquery.1.7.1.min.js")
        script(type="text/javascript" src="js/jquery.malihu.PageScroll2id.min.js").
        script(type="text/javascript" src="js/main.js")
                        
                        
                        
                        
                        
                        
               