<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="stylesheets/normalize.css")
    link(rel="stylesheet", href="stylesheets/screen.css")
body
    .wrapper
        header.header
            .top-line
                .container.clearfix
                    .logo-wrap.left
                        a(href="").logo
                            img(src="img/logo.png", alt="Logo")
                    .nav-wrap.right
                        ul.nav
                            li.nav-item
                                a.active(href="#") пункт 1
                            li.nav-item
                                a(href="#") пункт 2
                            li.nav-item
                                a(href="#") пункт 3
                            li.nav-item
                                a(href="#") пункт 4
                            li.nav-item
                                a(href="#") пункт 5


            .header-title
                .container-title
                    .title-wrap
                        h1.first-h1
                            span.first 
                                span I’m looking for the unexpected. <br>
                        h1
                            span.second 
                                span I’m looking for things I’ve never seen before.  
        section.services
            .container
                .services-wrap
                    h3.title services
                    .services-items-wrap.clearfix
                        .services-item.left
                            img(src="img/icons/coffee.png", alt="")
                            .item-title coffee
                            .item-dscr.
                                Apple pie icing sweet. Brownie jelly-o applicake applicake 
                                sweet roll liquorice bear claw. Jujubes carrot 
                                cake cotton candy sweet tart brownie. Tiramisu 
                                applicake jujubes.    
                        .services-item.left
                            img(src="img/icons/instant.png", alt="")
                            .item-title coffee
                            .item-dscr.
                                Apple pie icing sweet. Brownie jelly-o applicake applicake 
                                sweet roll liquorice bear claw. Jujubes carrot 
                                cake cotton candy sweet tart brownie. Tiramisu 
                                applicake jujubes.    
                        .services-item.left
                            img(src="img/icons/dslr.png", alt="")
                            .item-title coffee
                            .item-dscr.
                                Apple pie icing sweet. Brownie jelly-o applicake applicake 
                                sweet roll liquorice bear claw. Jujubes carrot 
                                cake cotton candy sweet tart brownie. Tiramisu 
                                applicake jujubes.    
                        .services-item.left
                            img(src="img/icons/frame.png", alt="")
                            .item-title coffee
                            .item-dscr.
                                Apple pie icing sweet. Brownie jelly-o applicake applicake 
                                sweet roll liquorice bear claw. Jujubes carrot 
                                cake cotton candy sweet tart brownie. Tiramisu 
                                applicake jujubes.    
 
        section.portfolio
            .container
                .portfolio-wrap.clearfix
                    h3.title.left portfolio
                    .portfolio-nav.clearfix
                        ul.nav.right
                            li.nav-p-item
                                a.active(href="#") пункт 1
                            li.nav-p-item
                                a(href="#") пункт 2
                            li.nav-p-item
                                a(href="#") пункт 3
                            li.nav-p-item
                                a(href="#") пункт 4
                            li.nav-p-item
                                a(href="#") пункт 5
                                
                    .portfolio-item-wrap
                        .portfolio-item.clearfix
                            a(href="")
                                img(src="../img/p_1.png", alt="Img")         
                            a(href="")
                                img(src="../img/p_1.png", alt="Img")         
                            a(href="")
                                img(src="../img/p_1.png", alt="Img")         
                            a(href="")
                                img(src="../img/p_1.png", alt="Img")         
                            a(href="")
                                img(src="../img/p_1.png", alt="Img")         
                            a(href="")
                                img(src="../img/p_1.png", alt="Img")         
                            a(href="")
                                img(src="../img/p_1.png", alt="Img")         
                            a(href="")
                                img(src="../img/p_1.png", alt="Img")         
        section.video
            .container.clearfix
                .video-dscr.left
                    h3.title Just default Section
                    p.dscr.
                        Bear claw marzipan bear claw applicake I 
                        love muffin. Lemon drops gummi bears pastry 
                        gummi bears sesame snaps I love unerdwear.com. 
                        Soufflé cotton candy dessert candy ice cream wafer
                        gummies cheesecake brownie.
                    p.dscr.
                        Muffin chupa chups jelly beans sweet 
                        pie applicake. Croissant chocolate cake I 
                        love pudding. Ice cream I love powder pudding 
                        apple pie marshmallow. Cupcake marzipan oat cake 
                        bonbon I love candy canes toffee.                           
                    a(href="").button-dscr visit me
                .video-wrap.right
                    video(controls='')
                        source(src='../video/1.mp4', 
                                type='video/mp4' 
                                codecs='avc1.42E01E, mp4a.40.2')
        section.twitter
            .container
                .twitter-dscr.clearfix
                    h3.title.left twitter
                    a(href="#").right
                        img(src="../img/icons/tw.png", alt="Tw")
                    p.dscr.left
                        | Unerdwear cookie liquorice. 
                        | Cake donut cupcake lollipop soufflé candy. 
                        | Chocolate oat cake 
                        span.spec @cheesecake
                        |  tootsie roll.      
        section.about
            .container
                .about-wrap.clearfix
                    h3.title Who is john doe?
                    .about-left.left
                        p.dscr
                            | Bear claw marzipan bear claw applicake I love 
                            | muffin. Lemon drops gummi bears pastry gummi
                            | bears sesame snaps I love unerdwear.com. Soufflé 
                            | cotton candy dessert candy ice cream wafer gummies 
                            | cheesecake brownie.
                        p.dscr 
                            | Muffin chupa chups jelly beans sweet pie applicake.
                            | Croissant chocolate cake I love pudding. Ice cream
                            | I love powder pudding apple pie marshmallow. 
                            | Cupcake marzipan oat cake bonbon I love candy 
                            | canes toffee.                
                    .about-right.right 
                        p.dscr     
                            | Muffin chupa chups jelly beans sweet pie applicake.
                            | Croissant chocolate cake I love pudding. Ice cream
                            | I love powder pudding apple pie marshmallow. 
                            | Cupcake marzipan oat cake bonbon I love candy 
                            | canes toffee.    
                        .about-social-wrap
                            ul.social-list
                                li
                                    a(href="#").tw
                                li
                                    a(href="#").gplus
                                li
                                    a(href="#").dribble
                                li
                                    a(href="#").coffee
        section.contact
            .container
                .contact-wrap
                    h3.title contact
                    .form-contact
                        form(action="send.php").clearfix 
                            
                            .contact-left.left
                                label(for="name") full name
                                    input(type="text")  
                                label(for="email") email
                                    input(type="text")                  
                            .contact-right.right
                                p.dscr
                                   | Jujubes bear claw croissant wafer sweet
                                   | lemon drops brownie chocolate bar.
                                   | Sweet lollipop halvah tootsie roll 
                                   | cake fruitcake. Chocolate cake chocolate
                                   | bar gingerbread lollipop tart. Jujubes
                                   | bear claw donut chupa chups.
                                p.dscr
                                   | Linda Newman
                                   | W325 State Road 123
                                   | Mondovi, WI(Wisconsin) 98746-54321
                                   | (715) 946 - 1234
                            
                            .contact-bottom.left
                                label(for="textarea") message
                                    textarea(name="")                 
        footer.footer
            .container
                ul.footer-list
                    li
                        a(href="#") пункт 1
                    li
                        a(href="#") пункт 2
                    li
                        a(href="#") пункт 3
                    li
                        a(href="#") пункт 4                
                        
                        
                        
                
                        
                        